
.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div {
    margin: 0;
    padding: 0;
    height: 3rem;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div > img {
    position: absolute;
    -webkit-transform: scale(0.88);
        -ms-transform: scale(0.88);
            transform: scale(0.88);
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div,
.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div > img {
    width: 3rem;
    height: 3rem;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div {
    background: #d0d0d0;
    display: inline-block;
    cursor: pointer;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div:nth-child(odd) {
    background: #707070;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div:nth-child(odd) > div:nth-child(even) {
    background: #707070;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div:nth-child(odd) > div:nth-child(odd) {
    background: #d0d0d0;
}

.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm.ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div:hover {
    background: #dddd77;
}

.ChessTable__highlighted_O3275v7wlMuW5PD9zaCKN {
    background: #00FF00 !important;
}

@media(max-width: 500px) {
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div { 
        height: 2.65rem;
    }
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div,
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div > img {
        width: 2.65rem;
        height: 2.65rem;
    }
}

@media(max-width: 350px) {
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div { 
        height: 2rem;
    }
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div,
    .ChessTable__chessTable_1v0RlfYGqq-wFYBe7d95Fm > div > div > img {
        width: 2rem;
        height: 2rem;
    }
}



/*# sourceMappingURL=2-ad1038ea30b54ce9c994.css.map*/