.loader {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  color: #fff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
}

@keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
      visibility: hidden;
  }
}
