
.chessTable > div {
    margin: 0;
    padding: 0;
    height: 3rem;
}

.chessTable > div > div > img {
    position: absolute;
    transform: scale(0.88);
}

.chessTable > div > div,
.chessTable > div > div > img {
    width: 3rem;
    height: 3rem;
}

.chessTable > div > div {
    background: #d0d0d0;
    display: inline-block;
    cursor: pointer;
}

.chessTable > div > div:nth-child(odd) {
    background: #707070;
}

.chessTable > div:nth-child(odd) > div:nth-child(even) {
    background: #707070;
}

.chessTable > div:nth-child(odd) > div:nth-child(odd) {
    background: #d0d0d0;
}

.chessTable.chessTable > div > div:hover {
    background: #dddd77;
}

.highlighted {
    background: #00FF00 !important;
}

@media(max-width: 500px) {
    .chessTable > div { 
        height: 2.65rem;
    }
    .chessTable > div > div,
    .chessTable > div > div > img {
        width: 2.65rem;
        height: 2.65rem;
    }
}

@media(max-width: 350px) {
    .chessTable > div { 
        height: 2rem;
    }
    .chessTable > div > div,
    .chessTable > div > div > img {
        width: 2rem;
        height: 2rem;
    }
}

